<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tencent.wxcloudrun.dao.StoreGoodMapper">
    <update id="updateBatchSelective">
        UPDATE t_store_good
        <set>
            <if test="list[0].storeId != null">
                store_id = CASE id
                <foreach collection="list" item="item">
                    WHEN #{item.id} THEN #{item.storeId}
                </foreach>
                END,
            </if>
            <if test="list[0].goodId != null">
                good_id = CASE id
                <foreach collection="list" item="item">
                    WHEN #{item.id} THEN #{item.goodId}
                </foreach>
                END,
            </if>
            <if test="list[0].nums != null">
                nums = CASE id
                <foreach collection="list" item="item">
                    WHEN #{item.id} THEN #{item.nums}
                </foreach>
                END,
            </if>
            <if test="list[0].priceInCent != null">
                price_in_cent = CASE id
                <foreach collection="list" item="item">
                    WHEN #{item.id} THEN #{item.priceInCent}
                </foreach>
                END,
            </if>
            <if test="list[0].name != null">
                name = CASE id
                <foreach collection="list" item="item">
                    WHEN #{item.id} THEN #{item.name}
                </foreach>
                END,
            </if>
            <if test="list[0].extInfo != null">
                ext_info = CASE id
                <foreach collection="list" item="item">
                    WHEN #{item.id} THEN #{item.extInfo}
                </foreach>
                END,
            </if>
            update_time = NOW()
        </set>
        WHERE id IN
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item.id}
        </foreach>
    </update>
</mapper>